body {
    margin-right: 280px;
    margin-left: 280px;
    font-family: 'Bebas Neue';
    margin-top: 105px;
    color: #1abc9c;
    letter-spacing: 0.2em;
}
#kep {
    float: left;
}
.felulet {
    font-size: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: lightcyan;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.password, .email {
    padding-right: 167px;
}
a {
    font-size: 15px;
    text-decoration: none;
    color: #303030;
}

input[type=email], input[type=password] {
    width: 40%;
    font-size: 15px;
}


input[type=submit] {
    width: 41.12%;
    height: 2.5em;
    background-color: #1abc9c;
}

.header {
    float: left;
    font-size: 30px;
}

.register {
    padding-top: 37px;
}

i {
    position: absolute;
}

.emailicon, .jelszoicon {

    margin-bottom: 10px;
}

.icon {
    padding-top: 15px;
    padding-left: 7px;
    color: tomato;
    min-width: 25px;
    text-align: center;
}

.belso {
    width: 100%;
    padding: 15px;
    text-align: center;
}

.index:hover, .register:hover {
    color: tomato;
    text-decoration: underline;
}

@media print {
    body {
        margin-right: 280px;
        margin-left: 280px;
        font-family: 'Bebas Neue';
        margin-top: 105px;
        color: #1abc9c;
    }

    #kep {
        float: left;
    }

    .felulet {
        font-size: 50px;
        text-align: center;
        border: 1px solid black;
        background-color: lightcyan;
        box-shadow: 3px 3px 5px 6px #ccc;
    }

    .password, .email {
        padding-right: 167px;
    }

    a {
        font-size: 15px;
        text-decoration: none;
    }

    input[type=email], input[type=password] {
        width: 40%;
        font-size: 15px;
    }

    input[type=submit] {
        width: 41.12%;
        height: 2.5em;
        background-color: #1abc9c;
    }

    .header {
        float: left;
        font-size: 30px;
    }

    .register {
        padding-top: 37px;
    }

    i {
        position: absolute;
    }

    .emailicon, .jelszoicon {

        margin-bottom: 10px;
    }

    .icon {
        padding-top: 15px;
        padding-left: 7px;
        color: tomato;
        text-align: center;
    }

    .belso {
        width: 100%;
        padding: 15px;
        text-align: center;
    }
}
